<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="5587f3d6-8294-41b2-8f2b-ad0ffebdc314"
    Publisher="CN=thomas"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="5587f3d6-8294-41b2-8f2b-ad0ffebdc314" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>ImageSearcher</DisplayName>
    <PublisherDisplayName>Thomas Dye</PublisherDisplayName>
    <Logo>Design\Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="ImageSearcher.App">
      <uap:VisualElements
        DisplayName="Bing ImageSearcher"
        Square150x150Logo="Design\Assets\Square150x150Logo.png"
        Square44x44Logo="Design\Assets\Square44x44Logo.png"
        Description="My goal was to learn UWP app development, integration of REST API calls, and build an app that used them, all in one week. The Bing ImageSearcher App is the result. This app allows you to search for images using the Bing Image Search API from Azure, filter results, view the results as a scrollable collection, and click the one you like to see it full screen. Documentation about the API can be found here. This app also makes use of tooling provided by the Windows Community Toolkit.  Find the source code at https://github.com/tbdye/ImageSearcher"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Design\Assets\Wide310x150Logo.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Design\Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>